<style>
    .ui-dialog .ui-dialog-content{
        overflow : hidden;
    }
</style>

<form action="" class="smart-form" id="apply-audit-form">
    <fieldset>
        <section>
            <div class="inline-group">
                <div class="row">
                    <div class="col col-3">
                        <label class="label"><b>审核状态</b></label>
                    </div>
                    <div class="col col-4">
                        <label class="radio">
                            <input type="radio" name="AuditStatus" checked="checked" value="审核通过">
                            <i></i>审核算税
                        </label>
                    </div>
                    <div class="col col-4">
                        <label class="radio">
                            <input type="radio" name="AuditStatus" value="已退回">
                            <i></i>审核驳回
                        </label>
                    </div>
                </div>
            </div>
        </section>
    </fieldset>
    <fieldset>
        <section>
            <label class="label"><b>审核意见</b></label>
            <label class="select select-multiple">
                <select multiple="" class="custom-scroll" name="AuditOpinion">
                    @{
                        foreach (var auditOption in Model)
                        {
                            <option value=@auditOption.AuditOpinionDesp onmouseover="tooltip(this)" onmouseout="nodisplay()">@auditOption.AuditOpinionDesp</option>
                        }
                    }
                </select>
            </label>
        </section>
    </fieldset>
</form>

<div class="note">
    <div id="tooltipBlock" style="display: none;"></div>
</div>

<script>
    var tip = document.getElementById("tooltipBlock");
    function tooltip(obj) {
        if (obj.innerHTML.length > 27) {
            tip.style.display = "block";
            tip.innerHTML = obj.innerHTML;
        } else {
            tip.style.display = "none";
        }
    }
    function nodisplay() {
        tip.style.display = "none";
    }
</script>