src/BEYON.Web/obj/
src/BEYON.Domain.Model/bin/
src/BEYON.Domain.Data/obj/
src/BEYON.Domain.Data/bin/
src/BEYON.Domain.Model/obj/
src/BEYON.Test/obj/
src/BEYON.CoreBLL.Service/obj/
src/BEYON.ViewModel/obj/
src/BEYON.ViewModel/bin/
src/BEYON.CoreBLL.Service/bin/
src/BEYON.Web/Imports/
src/BEYON.Component.Tools/obj/
src/BEYON.Component.Tools/bin/
src/BEYON.Web/bin/
src/BEYON.Component.Data/obj/
src/BEYON.Component.Data/bin/
src/BEYON.Web/Exports/
src/BEYON.Commands/ExcelCommands/obj/
src/Support/ExcelExporter.0.0.1/bin/
src/Support/ExcelExporter.0.0.1/obj/
src/BEYON.Commands/ExcelCommands/bin/
