@using BEYON.ViewModel.Member
@model IEnumerable<ModuleVM>

<!-- #MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <span class="ribbon-button-alignment">
            <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> 警告! 重置所有设置." data-html="true" data-reset-msg="您是否需要重新设置已保存的工具和存储?"><i class="fa fa-refresh"></i></span>
        </span>

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <!-- This is auto generated -->
        </ol>
        <!-- end breadcrumb -->
        <!-- You can also add more buttons to the
        ribbon for further usability
            -->
        <span class="ribbon-button-alignment pull-right" style="margin-right:25px">
            @{
               
            }
        </span>

        @*<span class="ribbon-button-alignment pull-right" style="margin-right:25px">
                <a href="#" id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa fa-grid"></i> Change Grid</a>
                <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa fa-plus"></i> Add</span>
                <button id="search" class="btn btn-ribbon" data-title="search"><i class="fa fa-search"></i> <span class="hidden-mobile">Search</span></button>
            </span>*@

    </div>
    <!-- END RIBBON -->

    <!-- #MAIN CONTENT -->
    <div id="content" style="overflow-y:auto;">

    </div>

    <!-- END #MAIN CONTENT -->
</div>
<!-- END #MAIN PANEL -->

<script type="text/javascript">
    $(document).ready(function () {
        $('#content').height($(window).height() - 91);
        $(window).resize(function () {
            $('#content').height($(window).height() - 91);
        })
    })
</script>