

<div id="dialog-import-data">
      <input id="importData" type="file" multiple class="file-loading" name="upload">
</div>


<script type="text/javascript">
    $.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
        _title: function (title) {
            if (!this.options.title) {
                title.html("&#160;");
            } else {
                title.html(this.options.title);
            }
        }
    }));

    var dialog = $("#dialog-import-data").dialog({
        close: function () {
            $(this).dialog("destroy").remove();
        },
        width: 550,
        position: [220, 90],
        autoOpen: false,
        modal: true,
        title: "<div class='widget-header'><h3 style='font-size: 15px;font-weight: bolder;'><i class='icon-ok'></i> 数据导入</h3></div>",
    });

    $("#dialog-import-data").dialog("open");

    $(function () {
        //文件上传控件
        $("#importData").fileinput({
            uploadUrl: "@Model", // server upload action
            uploadAsync: true,
            showPreview: false,
            showUpload: true,
            maxFileCount: 5,
            language: 'zh',
            allowedFileExtensions: ['xlsx'],
            removeClass: "btn btn-danger",
            removeLabel: "Delete",
            removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i> ",   
            success: function (result) {
                toastr.success("导入数据成功");
            }
        });
    });
</script>


