body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u1 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:424px;
}
#u2 {
  position:absolute;
  left:0px;
  top:328px;
  width:1920px;
  height:424px;
}
#u3 {
  position:absolute;
  left:2px;
  top:204px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:53px;
}
#u4 {
  position:absolute;
  left:684px;
  top:229px;
  width:552px;
  height:53px;
}
#u5 {
  position:absolute;
  left:2px;
  top:18px;
  width:548px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Negreta', 'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#6E49A4;
}
#u6 {
  position:absolute;
  left:853px;
  top:380px;
  width:202px;
  height:39px;
  font-family:'Comic Sans MS Negreta', 'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#6E49A4;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
}
#u8 {
  position:absolute;
  left:835px;
  top:611px;
  width:250px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10 {
  position:absolute;
  left:937px;
  top:624px;
  width:47px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u12 {
  position:absolute;
  left:835px;
  top:671px;
  width:21px;
  height:21px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  position:absolute;
  left:838px;
  top:464px;
  width:247px;
  height:50px;
}
#u15_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(255, 0, 0, 0.647058823529412);
  -webkit-box-shadow:0px 0px 5px rgba(255, 0, 0, 0.647058823529412);
  box-shadow:0px 0px 5px rgba(255, 0, 0, 0.647058823529412);
}
#u15.selected {
}
#u16 {
  position:absolute;
  left:2px;
  top:17px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:841px;
  top:467px;
  width:242px;
  height:45px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  position:absolute;
  left:838px;
  top:529px;
  width:247px;
  height:50px;
}
#u19_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(255, 0, 0, 0.647058823529412);
  -webkit-box-shadow:0px 0px 5px rgba(255, 0, 0, 0.647058823529412);
  box-shadow:0px 0px 5px rgba(255, 0, 0, 0.647058823529412);
}
#u19.selected {
}
#u20 {
  position:absolute;
  left:2px;
  top:17px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:841px;
  top:532px;
  width:242px;
  height:45px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  position:absolute;
  left:858px;
  top:674px;
  width:57px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u24 {
  position:absolute;
  left:851px;
  top:478px;
  width:17px;
  height:20px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u26 {
  position:absolute;
  left:851px;
  top:544px;
  width:16px;
  height:21px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
